:root {
    /*Colors*/
    --background-color: #343963;
    --text-primary: #d8d9ed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-primary);
    background: linear-gradient(12deg, rgba(25, 28, 69, 1) 30%, rgba(47, 53, 122, 1) 70%, rgba(58, 66, 181, 1) 90%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow-y: auto;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
    color: var(--text-primary);
}

button{
    cursor: pointer;
    border: 0;
    border-radius: 32px;
    padding: 1rem;
}

#location{
    border: none;
    border-radius: 20px;
    padding: 10px 120px;
}

#unit-toggle{
    margin-left: auto;
}

.weather-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 24px;
    padding: 24px;
}

.weather-main {
    background: var(--background-color);
    border-radius: 16px;

    display: grid;
    grid-template-rows: auto 1fr auto; 
}

.main-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.location-container h3 {
    font-size: 1.4rem;
}

.time {
    font-size: 1.1rem;
    opacity: 0.8;
}

.gif-background {
    min-height: 300px;
    width: 100%;
    background-color: red;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.main-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.temp {
    font-size: 3rem;
    font-weight: bold;
}

.highlowtemp {
    opacity: 0.7;
}

.main-bottom i {
    font-size: 4rem;
}

.weather-details {
    background: var(--background-color);
    border-radius: 16px;
    padding: 20px;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 24px;
}

#details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#details li {
    display: grid;
    grid-template-columns: 32px 1fr auto;
    align-items: center;
    gap: 12px;
}

#details i {
    font-size: 1.4rem;
}

.details-title, .nextdays-title{
    text-align: center;
}

.details-bottom {
    border-top: 1px solid #eee;
    padding-top: 16px;
}

#nextdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
}

#nextdays li {
    background: var(--background-color);
    border-radius: 6px;
    padding: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.nextdays-top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nextdays-day {
    font-size: 0.9rem;
    opacity: 0.7;
}

.nextdays-bottom {
    display: flex;
}

.nextdays-bottom i {
    font-size: 2rem;
}

.nextdays-temps {
    gap: 6px;
}



#suggestions{
    position: absolute;
    background: var(--background-color);
    border: 1px solid #ccc;
    color: black;
    border-radius: 0.5rem;
    margin-top: 4px;
    padding: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

#suggestions {
    padding: 8px 12px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color:var(--background-color)
}