:root {
    /*Colors*/
    --background-color: #1c1f35;
    --background-light: #343963;
    --text-primary: #d8d9ed;
    --text-input: #fff;
    --border-color: #4e53b3;
    --hover-color: rgba(255, 255, 255, 0.08)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-primary);
    background: linear-gradient(12deg, rgba(25, 28, 69, 1) 30%, rgba(47, 53, 122, 1) 70%, rgba(58, 66, 181, 1) 90%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow-y: auto;
    display: none;
}

main #cityname {
    font-size: 2rem;
    margin-left: 2rem;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
    color: var(--text-primary);
}

button{
    cursor: pointer;
    border: 0;
    border-radius: 32px;
    padding: 1rem;
}

#title-logo{
    margin-right: 1rem;
}

#location{
    background: var(--background-light);
    color: var(--text-input);
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 10px 120px;
    position: relative;
}

#location:focus{
    border: 2px solid var(--border-color);
    outline: none;
}

#unit-toggle{
    background: var(--background-color);
    color: var(--text-primary);
    margin-left: auto;
}

#unit-toggle:hover{
    transform: scale(1.05);
}

.weather-container {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 24px;
    padding: 24px;
}


.weather-main {
    background: var(--background-color);
    border-radius: 16px;

    display: grid;
    grid-template-rows: auto 1fr auto; 
}

.main-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.location-container h3 {
    font-size: 1.4rem;
}

.time {
    font-size: 1.1rem;
    opacity: 0.8;
}

.gif-background {
    min-height: 800px;
    width: 100%;
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}


.main-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.temp {
    font-size: 3rem;
    font-weight: bold;
}

.highlowtemp {
    opacity: 0.7;
}

.main-bottom i {
    font-size: 5rem;
}

.weather-details {
    background: var(--background-color);
    border-radius: 16px;
    padding: 20px;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 24px;
}

#details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
}

#details li {
    display: grid;
    grid-template-columns: 32px 1fr auto;
    align-items: center;
    gap: 24px;
}

#details i {
    font-size: 1.4rem;
}

.details-title, .nextdays-title{
    text-align: center;
}

.details-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid #eee;
    padding-top: 16px;
    margin-top: auto;
}

#nextdays {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}

#nextdays li {
    background: var(--background-light);
    border-radius: 6px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

.nextdays-top {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.nextdays-day {
    font-size: 0.9rem;
    opacity: 0.7;
}

.nextdays-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nextdays-bottom i {
    font-size: 2.5rem;
}





#suggestions{
    position: absolute;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--text-primary);
    border-radius: 0.5rem;
    margin-top: 4px;
    padding: 0;
    width: 28%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 9999;
    display: none;
}

#suggestions li {
    padding: 12px 16px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: var(--hover-color);
}
